div.LogIn{
    text-align:center;
}
body{
    background-color: #597B4E;
}
img{
    border-radius: 8px;
    width: 20%;
    height: 20%;
    text-align:center;
}
div.picture{
    text-align:center;
}
.Uname{

}
